<p id="notice"><%= notice %></p>

<p>
  <strong>Hyper:</strong>
  <%= @individual.hyper %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @individual.photo %>
</p>

<p>
  <strong>Linkd:</strong>
  <%= @individual.linkd %>
</p>

<p>
  <strong>Player:</strong>
  <%= @individual.player %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
