<div class='nested-fields'>
                                
                                        <%= f.input :competition, label: false, input_html: { class: 'form-control' } %>
                            
                                        <%= f.input :countts, label: false, input_html: { class: 'form-control' } %>
                                   

                                    
                                        <%= f.input :years, label: false, input_html: { class: 'form-control' } %>
                               
                                        <%= f.input :position, label: false, input_html: { class: 'form-control' } %>
                                    

    <%= link_to_remove_association "remove task" , f %>

</div>

