<div class='nested-fields'>

                                  <label>Season</label>
                                    <div class="form-group">
      <%= f.input :season, label: false, input_html: { class: 'form-control' } %>
                                    </div>
    
                                    <label>Date</label>
                                    <div class="form-group">
                                        <%= f.input :data, label: false, input_html: { class: 'form-control' } %>
                                    </div>

                                    <label>From</label>
                                    <div class="form-group">
      <%= f.input :from, label: false, input_html: { class: 'form-control' } %>
                                    </div>

                                    <label>To</label>
                                    <div class="form-group">
                                        <%= f.input :to, label: false, input_html: { class: 'form-control' } %>
                                    </div>
                                    
                                    <label>Transfer Fee</label>
                                    <div class="form-group">
                                        <%= f.input :transfer_fee, label: false, input_html: { class: 'form-control' } %>
                                    </div>
  <div class="col-xs-2" style="float: left;">
    <%= link_to_remove_association "remove task" , f ,style: "float: left; background-color: #444; color: white;",class: 'btn btn-primary' %>
</div>  
</div>

