<p id="notice"><%= notice %></p>

<p>
  <strong>Competition:</strong>
  <%= @continental.competition %>
</p>

<p>
  <strong>Countts:</strong>
  <%= @continental.countts %>
</p>

<p>
  <strong>Years:</strong>
  <%= @continental.years %>
</p>

<p>
  <strong>Position:</strong>
  <%= @continental.position %>
</p>

<p>
  <strong>Player:</strong>
  <%= @continental.player %>
</p>

<%= link_to 'Edit', edit_continental_path(@continental) %> |
<%= link_to 'Back', continentals_path %>
